<div class="form">
    <input
      type="text"
      placeholder="username"
      name="username"
      [(ngModel)]="user.username"
    />
    <input
      type="text"
      placeholder="password"
      name="password"
      [(ngModel)]="user.password"
    />
    <button (click)="register()">Register</button>
  </div>
  