<div class="form">
    <input
      type="text"
      name="title"
      [(ngModel)]="newFile.title"
      placeholder="Title"
    />
    <input
      type="text"
      name="type"
      [(ngModel)]="newFile.type"
      placeholder="Type"
    />
    <input
      type="text"
      name="directory"
      [(ngModel)]="newFile.directory"
      placeholder="directory"
    />
    <input
      type="number"
      name="size"
      [(ngModel)]="newFile.size"
      placeholder="size"
    />
  
    <button (click)="add()">Add file</button>
  </div>