.form {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
}
  
input {
    margin-top: 10px;
    margin-bottom: 10px;
}