:host > ul {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: black;
    list-style: none;
}
  
li {
    margin-right: 30px;
    }
    li > a {
      color: black;
      text-decoration: none;
    }
  
:hover {
    color: red;
    }
  
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
  }
  
input {
    margin-top: 10px;
    }
button {
    margin-top: 10ox;
    }
