<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="login">Login</a></li>
  <li><a routerLink="register">Register</a></li>
  <li><a routerLink="users">Users</a></li>
  <li><a routerLink="files">Files</a></li>
</ul>

<router-outlet></router-outlet>