<app-files-add
  (onAdd)="addNewFile($event)"
  *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER'])"
></app-files-add>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Type</th>
      <th>Directory</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>{{ file.id }}</td>
      <td>{{ file.title }}</td>
      <td>{{ file.type }}</td>
      <td>{{ file.directory }}</td>
      <td>{{ file.size }}</td>
      <td>
        <button
          *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER'])"
          (click)="delete(file.id)"
        >
          Delete
        </button>
        <button
          *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER'])"
          (click)="update(file, file.id)"
        >
          Update
        </button>
        <button>Details</button>
      </td>
    </tr>
  </tbody>
</table>

<app-files-update
  [fileToUpdate]="selectedFile"
  (onUpdate)="updateFile($event)"
  *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER']) && showForm"
></app-files-update>

<app-files-drag-drop [d1]="d1Files" [d2]="d2Files"></app-files-drag-drop>