<div cdkDropListGroup class="drgdrp">
    <table cdkDropList [cdkDropListData]="d1" (cdkDropListDropped)="drop($event)">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Directory</th>
          <th>Type</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of d1; index as i" cdkDrag>
          <td>{{ file.id }}</td>
          <td>{{ file.title }}</td>
          <td>{{ file.directory }}</td>
          <td>{{ file.type }}</td>
          <td>{{ file.size }}</td>
  
          <td class="preview" *cdkDragPreview>
            <ul>
              <li>Title: {{ file.title }}</li>
              <li>Size: {{ file.size }}</li>
              <li>Type: {{ file.type }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  
    <table
      style="margin-top: 20px; background-color: azure;"
      cdkDropList
      [cdkDropListData]="d2"
      (cdkDropListDropped)="drop($event)"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Directory</th>
          <th>Type</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of d2; index as i" cdkDrag>
          <td>{{ file.id }}</td>
          <td>{{ file.title }}</td>
          <td>{{ file.directory }}</td>
          <td>{{ file.type }}</td>
          <td>{{ file.size }}</td>
          <td class="preview" *cdkDragPreview>
            <ul>
              <li>Title: {{ file.title }}</li>
              <li>Size: {{ file.size }}</li>
              <li>Type: {{ file.type }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>