<table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.username }}</td>
        <td>{{ user.roles }}</td>
        <td>
          <button
            *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
            (click)="delete(user.id)"
          >
            Delete
          </button>
          <button
            *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
            (click)="update(user, user.id)"
          >
            Update
          </button>
          <button (click)="details(user.password)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
  <app-users-update
    [updateUser]="selectedUser"
    (onSubmit)="updateUser($event)"
    *ngIf="loginService.validateRoles(['ROLE_ADMIN']) && showForm"
  ></app-users-update>
  
  <app-users-details
    *ngIf="loginService.validateRoles(['ROLE_ADMIN']) && pass"
    [password]="pass"
  >
  </app-users-details>